.pagination-wrap{
  text-align: center;
  padding-top: 50px;
}
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li,
.el-pagination button:disabled{
  background-color: transparent;
  color:$green;
}
.el-pager li.active,
.el-pager li:hover,
.el-pagination button:hover
{
  color:#FFFFFF;
}
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev{
  color:$green;
}