.el-radio__inner{
  width: 17px;
  height: 17px;
  border: $green solid 1px;
  background-color: transparent;
}
.el-radio__input.is-checked .el-radio__inner,
.el-radio__input.is-checked+.el-radio__label{
  color:$green;
}
.el-radio__input.is-checked .el-radio__inner{
  border-color: $green;
  background: $green;
}
.el-radio__label{
  color: #FFFFFF;
  font-size: 14px;
}
.el-radio__inner::after{
  background-color:rgba(0, 0, 0, 0.4)
}
.el-radio__input.is-checked .el-radio__inner::after{
  -webkit-transform: translate(-50%,-50%) scale(1);
  transform: translate(-50%,-50%) scale(1.5);
}
.el-radio.is-bordered.is-checked {
  border-color: $green;
}
.el-radio-group{
  .el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background-color: $orange;
    border-color: $orange;
  }
  .el-radio-button__inner{
    padding:10px 20px;
  }
}