.el-date-editor--daterange.el-input__inner{
  width: 234px;
}
.el-range-input{
  background-color: transparent;
  color: #FFFFFF;
}
.el-date-editor .el-range__icon{
  line-height: 25px;
}
.el-date-editor .el-range-separator{
  line-height: 25px;
  color: #FFFFFF;
}